/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Joy Robot Cyan Theme */
  --ifm-color-primary: #00C2CB;
  --ifm-color-primary-dark: #00AEB7;
  --ifm-color-primary-darker: #00A5AD;
  --ifm-color-primary-darkest: #00888F;
  --ifm-color-primary-light: #26D0D8;
  --ifm-color-primary-lighter: #3CD6DD;
  --ifm-color-primary-lightest: #76E6EB;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00C2CB;
  --ifm-color-primary-dark: #00AEB7;
  --ifm-color-primary-darker: #00A5AD;
  --ifm-color-primary-darkest: #00888F;
  --ifm-color-primary-light: #26D0D8;
  --ifm-color-primary-lighter: #3CD6DD;
  --ifm-color-primary-lightest: #76E6EB;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}