/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #E07A5F;
  --ifm-color-primary-dark: #DB6647;
  --ifm-color-primary-darker: #D85C3B;
  --ifm-color-primary-darkest: #B84526;
  --ifm-color-primary-light: #E58E77;
  --ifm-color-primary-lighter: #E89883;
  --ifm-color-primary-lightest: #F0B8A9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #F2A65A;
  --ifm-color-primary-dark: #F0964A;
  --ifm-color-primary-darker: #EF8D3D;
  --ifm-color-primary-darkest: #E67416;
  --ifm-color-primary-light: #F4B66A;
  --ifm-color-primary-lighter: #F5BF77;
  --ifm-color-primary-lightest: #F9D6A3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
