name: Build Controller

on:
  workflow_dispatch:
    inputs:
      run_android_aab_store:
        description: 'Run Android AAB (upload to Play)'
        required: false
        type: boolean
        default: false
      run_android_apk_gdrive:
        description: 'Run Android APK (upload to Drive)'
        required: false
        type: boolean
        default: false
      run_ios_ipa_testflight:
        description: 'Run iOS IPA (upload to TestFlight)'
        required: false
        type: boolean
        default: false
      ios_upload_artifact:
        description: 'Upload iOS build artifact (when running iOS)'
        required: false
        type: boolean
        default: false

jobs:
  run-android-aab-store:
    if: ${{ github.event.inputs.run_android_aab_store == 'true' }}
    uses: ./.github/workflows/android-aab-store.yml
    secrets: inherit

  run-android-apk-gdrive:
    if: ${{ github.event.inputs.run_android_apk_gdrive == 'true' }}
    uses: ./.github/workflows/android-apk-gdrive.yml
    secrets: inherit

  run-ios-ipa-testflight:
    if: ${{ github.event.inputs.run_ios_ipa_testflight == 'true' }}
    uses: ./.github/workflows/ios-ipa-testflight.yml
    with:
      upload_artifact: ${{ github.event.inputs.ios_upload_artifact == 'true' }}
    secrets: inherit


